# Name: Watershed Algorithm

# Description:
#  This algorithm is an implementation of the watershed immersion algorithm
#  written by Vincent and Soille (1991).

# Author: Christopher Mei (christopher.mei at sophia.inria.fr)
# Version: 1.0
# Date: 2003/12/15
# Requires: ImageJ 1.31s

Plugins>Filters, "Watershed Algorithm", Watershed_Algorithm
Help>About Plugins, "Watershed Algorithm...", Watershed_Algorithm("about")
